body{
	
	background-image: linear-gradient(to top right, red, white);
	/*z-index: -1;*/
}

div{
	width: 1330px;
	height: 700px;
}

.satu{
	margin: 0 auto;
	width: 760px;
	height: 400px;
	background-image: radial-gradient(at bottom, white 10%, blue);
}

.dua{
	margin: 0 auto;
	width: 760px;
	height: 250px;
	background-image: radial-gradient(circle at left, white, blue, white);
}